<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SecureMtomBinding" messageEncoding="Mtom" maxReceivedMessageSize="10000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="ServerInfo">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8443/Server"/>
          </baseAddresses>
        </host>

        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="SecureMtomBinding"
                  contract="IServerInfo" />

        <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
</configuration>
